{% extends "base.html" %}
{% block content %}
  <header></header>
  <content>
    <div class="d-flex justify-content-center align-items-center" style="height: 99vh;">
      <div class="d-flex flex-column align-items-center text-center">
        <a href="index"><img src="{{ url_for('static', filename='img/404.svg') }}" alt="404*" style="max-width: 60%;"></a>
        <h3>halaman ini hilang!</h3>
        <p>setidaknya anda menemukan anak anjing</p>
      </div>
    </div>
  </content>
  <footer>
    <div class="d-flex justify-content-center">
      <a class="mr-3 apretty" href="advanced">(╭ರ_•́)</a>
      <a class="apretty" href='about'>¯\_(ツ)_/¯</a>
    <div>
  </footer>
{% endblock %}
