{% extends "base.html" %}
{% block content %}
<header>
</header>
<content>
  <div class="container align-items-center py-5">
    <div class="row">
      <div class="vl">
      </div>
      <div class="col">
        <h1>Tentang situs ini</h1>
        <p>Saya sering kesulitan mencari pustaka di <a class="apretty" href="www.digilib.itb.ac.id">Digital Library ITB</a> yang relevan, secara cepat. Situs ini saya buat untuk mempermudah proses tersebut,tentu disesuaikan dengan opini pribadi apa yang saya anggap "penting". <br><br>

          Data yang digunakan situs ini adalah <i>cache</i> dari situs <a class="apretty" href="www.digilib.itb.ac.id">Digital Library ITB</a>. Dengan demikian, setiap perubahan pustaka yang terjadi disana -- baik penambahan, perbaikan, maupun penghapusan -- tidak langsung terlihat di situs proyek ini. Namun, ada beberapa data yang saya ubah maupun tidak diikutkan, karena saya anggap kurang relevan. Contohnya mengetahui sebuah pustaka berasal dari fakultas <code>FMIPA</code> ketika pustaka tersebut diterbitkan oleh <code>FMIPA - Matematika</code>, adanya teks <code>TIDAK ADA ABSTRAK</code> pada data abstrak ¯\_(ツ)_/¯, mapun berapa banyak <code>File</code> dimiliki pustaka, yang jumlahnya dapat berubah tergantung pada akses yang diberikan. Detail bagaimana saya mengolah data tersebut dapat
          dilihat di <a class="apretty" href="https://github.com/kekavigi/fuzzydigilib">repo GitHub saya</a>.
      </div>
    </div>
  </div>
</content>
<footer>
  <div class="d-flex justify-content-center">
    <a class="mr-3 apretty" href='advanced'>(╭ರ_•́)</a>
    <a class="apretty" href='index'>UwU*</a>
    <div>
</footer>
{% endblock %}
