{% extends "base.html" %}
{% block content %}
  <header></header>
  <content>
    <div class="d-flex justify-content-center align-items-center" style="height: 99vh;">
      <div class="d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='img/uwu.svg') }}" alt="LoGo UwU*" style="max-width: 20%;">
        <form action="/results" method="post" class="input-group mb-3 col-sm-6 col-md-8">
          <input type="text" name="query" class="form-control border-warning">
          <div class="input-group-append">
            <input class="btn btn-warning" type="submit" value="Cari"></input>
          </div>
        </form>
      </div>
    </div>
  </content>
  <footer>
    <div class="d-flex justify-content-center">
      <a class="mr-3 apretty" href="advanced">(╭ರ_•́)</a>
      <a class="apretty" href="about">¯\_(ツ)_/¯</a>
    <div>
  </footer>
{% endblock %}
