{% extends "base.html" %}
{% block content %}
  <header>
    <div class="d-flex flex-wrap justify-content-center mt-3">
      <div class="p-2">
        <a href="index"><img src="{{ url_for('static', filename='img/uwu.svg') }}" alt="LoGo UwU*" style="max-width: 80px;"></a>
      </div>
      <div class="p-2 col-7">
        <div class="input-group">
        <input type="text" class="form-control border-warning" aria-label="Ketik yang ingin dicari">
        <div class="input-group-append">
          <!--https://stackoverflow.com/questions/40843494/call-javascript-function-from-anchor-html-tag-->
          <button class="btn btn-warning" type="button">Cari</button>
        </div>
      </div>
      </div>
    </div>
  </header>
  <content>
    <div class="container align-items-center">
      <div class="row mt-1 mb-1">
        <div class="vla">
        </div>
        <div class="col">
          <span>{{response.tanggal}}{%+ if response.tanggal and response.koleksi %} - {% endif %}{{response.koleksi}}</span>
          <h1>{{response.judul}}</h1>
          <p><span class="h3 font-weight-bold">{{response.oleh}}</span>
            <span class="h3">{{response.kontributor}}</span><p/>
          <p class="h4">{{response.fakultas}}{%+ if response.fakultas and response.penerbit %} - {% endif %}{{response.penerbit}}</p>
        </div>
      </div>
      {% if response.abstrak or response.kunci or response.subjek or response.sumber %}
      <div class="row mt-1 mb-1">
        <div class="vl">
        </div>
        <div class="col">
          <p>{{response.subjek}}{%+ if response.subjek and response.kunci %} - {% endif %}<em>{{response.kunci}}</em></p>
          <p>{{response.abstrak}}</p>
          <p>{{response.sumber}}</p>
        </div>
      </div>
      {% endif %}
      <div class="row mt-1 mb-1">
        <div class="vlb">
        </div>
        <div class="col">
          {% if response.pdf %}
          <p><b>File yang dapat diakses:</b></p>
          <ul>
            {% for fname,url in response.pdf %}
            <li><a class="apretty" href="{{url}}">{{fname}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          <p>Lihat informasi selengkapnya di <a class="apretty" href="https://digilib.itb.ac.id/index.php/gdl/view/{{response.id}}/"> Digital Library ITB</a></p>
        </div>
      </div>
    </div>
  </content>
  <footer>
  </footer>
{% endblock %}
